.card{
  width:320px;
  border: 1px solid lightgrey; 
  box-shadow: 7px 5px lightgrey;
  padding-bottom:1em;
  padding-left:1em;
  background-color: rgb(220,240,200);
  border-radius:40px;
}

h3{
  font-weight: bold;
  font-size: 2em;
}

.elephantpic{
  width: 300px; 
  padding-bottom:1em;
}

.information-box{
  border: 1px solid lightgrey;
  width:268px;
  padding-right:1em;
  padding-left:1em; 
  padding-bottom:1em;
  border-radius:20px;
}

.funfact{
  font-style: italic;
}

span{
  font-weight: bold;
}

.list-items{
  list-style: none;
  padding-left:0em;
}

  

